/* PAGE 404 */

section.page404 div.container{
	text-align: center;
}

section.page404 div.page404-box{
	width: 350px !important;
	height: 350px !important;
}

section.page404 div.page404-box img{
	max-width: 100%;
	margin-top: 10px;
}

section.page404 div.page404-box h3{
	font-size: 25px;
	color: #f40643;
}

section.page404 div.page404-box a{
	color: #ccc;
}